.topMenuStyle
{
    background-color: #6B4226;
}
.appCaptionStyle
{
	font-family: Arial;
	font-weight: bold;
	color: #CCCCCC;	
}
.titleStyle
{
	font-family: Arial;
	font-size: large;
	font-weight: bold;
	color: #CCCCCC;
}
.pageInfoStyle
{
	font-family: Arial;
	font-size: medium;
	font-weight: bold;
	color: #CCCCCC;
}
.paramStyle
{
	font-family: Arial;
	font-weight: bold;
	color: black;
}
.errorMessagesStyle
{
	font-family: "Times New Roman";
	font-weight: bold;
	color: red;
	font-size: medium;
}
body
{
	padding: 0;
	margin: 0;
	background-color: #6080D5;
}
